@font-face {
  font-family: SourceHanSansCN-Heavy;
  src: url("./SourceHanSansCN-Heavy.otf");
}
@font-face {
  font-family: SourceHanSansCN-Medium;
  src: url("./SourceHanSansCN-Medium.otf");
}
@font-face {
  font-family: SourceHanSansCN-Regular;
  src: url("./SourceHanSansCN-Regular.otf");
}
