html,body{
  height: 100%;
  width: 100%;
}
ul, li {
  list-style: none;
}
p, ul, li {
  padding: 0;
  margin: 0;
}

canvas {
  outline: none;
}
* {
  box-sizing: border-box;
}

.full-width {
  width: 100vw;
}
.wrap-1200 {
  width: 1200px;
  margin: 0 auto;
}
