.el-empty {
  .el-empty__image {
    height: 80px;
    svg{
      display: none!important;
    }
    background-image: url('../assets/images/common/empty.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.el-dropdown-menu.el-popper {
  top: 50px!important;
}


.anchor-popper {
  padding: 0;
  border: none;
}


.confirm-button.el-button {
  background-color: #3F62FF;
  color: #fff;
}
.pretty-bg.el-button {
  width: 120px;
  height: 40px;
  background: linear-gradient(90deg, #3B5FFF, #A2B3FF);
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
}
