.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

// flex
.flex {
  display: flex;
}
.flex-1{
  flex: 1;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-no-wrap{
   flex-wrap: no-wrap;
 }
.flex-column{
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}

.flex-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}
.align-end {
    align-items: end
}
// display
.d-flex{
  display: flex;
}
.d-inline-block {
  display: inline-block;
}

// position
.p-relative{
  position: relative;
}
.p-absolute {
  position: absolute;
}
.p-fixed {
  position: fixed;
}
.left-0{
    left: 0;
}
.right-0{
    right: 0;
}
.top-0{
    top: 0;
}
.bottom-0{
    bottom: 0;
}
// cursor
.pointer {
  cursor: pointer;
}

.not-allowed {
    cursor: not-allowed;
}
//
.font-12 {
  font-size: 12px;
}
.font-15 {
    font-size: 15px;
}
.font-16 {
  font-size: 16px;
}
.font-14 {
  font-size: 14px;
}
.font-15 {
  font-size: 15px;
}
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}
.font-22 {
  font-size: 22px;
}
.font-30 {
  font-size: 30px;
}
.line-height-22{
    line-height: 22px;
}
.line-height-20{
    line-height: 20px;
}
.line-height-17{
    line-height: 17px;
}
.font-500 {
    font-weight: 500;
}

.font-400 {
    font-weight: 400;
}

.font-medium {
    font-family: PingFang-SC-Medium;
}
.font-regular {
    font-family: PingFang-SC-Regular;
}

.text-white {
    color: $text-white;
}


.text-center {
    text-align: center;
}
.text-333 {
    color: $text-333;
}
.text-888 {
    color: $text-888;
}
.text-gray {
    color: $text-gray;
}

.text-5e {
    color: #5E5E5E;
}
.text-match {
    color: $text-match;
}


.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.overflow-hidden {
    overflow: hidden;
}
.overflow-y-auto {
    overflow-y: auto;
}
.overflow-x-auto {
    overflow-x: auto;
}

.visibility-hidden {
//     visibility: ;
}

.bg-center {
    background-position: center;
}
.bg-no-repeat {
    background-repeat: no-repeat;
}
.bg-size-auto {
    background-size: auto;
}
.bg-size-100 {
    background-size: 100% 100%
}

.bg-gray2 {
    background-color: $body-bg;
}
.bg-white {
    background-color: $text-white;
}
.bg-black {
    background-color: #000;
}

.icon-10.svg-icon {
    font-size: 10px;
    width: 10px;
    height: 10px;
}
.icon-14 {
    font-size: 14px;
    width: 14px;
    height: 14px;
}
.icon-23 {
    font-size: 23px;
    width: 23px;
    height: 23px;
}
.icon-30 {
    font-size: 30px;
    width: 30px;
    height: 30px;
}


// opacity

.opacity-0 {
    opacity: 0;
}
.opacity-7 {
    opacity: 0.7;
}
.transition-3{
   transition: .3s ease;
}


.m-auto {
    margin: 0 auto;
}


.border-radius-50 {
    border-radius: 50%!important;
}
