.chat_box {
  width: 100%;
  height: 100%;
  position: relative;

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .announcement {
      padding: 10px;
      width: 100%;
      height: 40px;
      line-height: 24px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      box-shadow: 2px 0 10px 0 #eaecf1;
      background-image: linear-gradient(to bottom, #fafbfc 25%, #f1f3f7 75%, #fafbfc);
      font-size: 15px;
      color: #cb172d;
    }

    .chat_con {
      width: 100%;
      height: 510px;
      overflow: scroll;
      background-color: #f3f5f9;

      .chat_list {
        width: 90%;
        margin: auto;
        //overflow: scroll;

        .chat_item {
          line-height: 20px;
          font-size: 14px;
          padding: 2px 0;

          .come {
            .nickname {
              color: #1c73e9;
            }
          }
        }
      }
    }

    .chat_con::-webkit-scrollbar { width: 0 !important }
    .chat_con { -ms-overflow-style: none; }
    .chat_con { overflow: -moz-scrollbars-none; }

    .send_bot {
      width: 100%;
      height: 40px;
      box-shadow: 0 -1px 1px 0 rgba(40, 38, 45, 0.16);
      background-color: #fff;
      position: relative;
    }

    .clear_btn {
      position: absolute;
      top: 5px;
      right: 16px;
      opacity: 0.6;

      .icon_clear {
        display: block;
        float: left;
      }

      .txt {
        line-height: 20px;
        float: left;
        display: block;
        width: 24px;
        height: 16px;
        font-size: 12px;
        color: #28262d;

      }
    }

    .inp {
      position: absolute;
      bottom: 5px;
      left: 16px;
      width: calc(100% - 100px);
      height: 30px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      font-size: 12px;
      line-height: 48px;
      background-color: #f9f9f9;
      box-sizing: border-box;
      border: none;
      outline: medium
    }

    .send {
      cursor: pointer;
      text-align: center;
      line-height: 30px;
      position: absolute;
      bottom: 5px;
      right: 16px;
      width: 68px;
      height: 30px;
      font-size: 14px;
      color: #fff;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      background: #689fee;
    }

    .send:active {
      opacity: .8;
    }

  }
}