<div class="chat_box">
    <div class="content">
        <div class="announcement">
            <!--            系统提示：任何群、广告均为诈骗，违规者封号处理!-->
            <marquee height="24" style="color: #d8ad66;" behavior=scroll>
                <img :src="trumpet" width="14" height="14" alt="">
                <!-- 这里可以填写走马灯内容 -->
                系统提示：任何群、广告均为诈骗，违规者封号处理!
            </marquee>
        </div>
        <!-- 主要的聊天室内容-->
        <div class="chat_con clear" ref="element">
            <ul class="chat_list">
                <li v-for="(item,i) in chatList" :key="i" class="chat_item clear">
                    <div v-if="item.type === '1120'" class="item">{{ item.msg }}</div>  <!-- 系统提示 -->
                    <div v-if="item.type === '1090'" class="item">{{ item.msg }}</div>  <!-- 主播下播 暂时没有-->
                    <div v-if="item.type === '2010'" class="item">{{ item.msg }}</div>  <!-- 发言频繁 -->
                    <div v-if="item.type === '1010'" class="item come">
                        <span class="nickname">{{ item.nickname }}:</span>
                        <span>{{ item.msg }}</span>
                    </div>  <!-- 进入直播间 -->
                    <div v-if="item.type == '1040'" class="item come">
                        <span class="nickname">{{ item.nickname }}:</span>
                        <span>{{ item.msg }}</span>
                    </div>  <!-- 发言 -->
                </li>
            </ul>
        </div>
        <div class="send_bot">
            <!--            <div class="clear_btn">-->
            <!--                <span class="txt" @click="chatList = []">清屏</span>-->
            <!--            </div>-->
            <input
                    ref="inputBox"
                    class="inp"
                    type="text"
                    placeholder="开始聊天"
                    v-model="inpTxt"
                    maxlength="30"
                    show-word-limit
                    @keydown.enter="sendMessage"
            >
            </input>
            <div class="send btn" @click="sendMessage">发送</div>
        </div>
    </div>
</div>